@{
    ViewData["Title"] = "Configurar Juego";
}

<form action='@Url.Action("Comenzar", "Home")' method="post">
    <fieldset>
        <legend>Configurar Juego:</legend>
        <label>Username:
            <input type="text" name="username" placeholder="Nombre de Usuario">
        </label>
        <label>Dificultad:
            <select name="dificultad">
                <option value="-1">Todas las dificultades</option>
                @foreach(Dificultad dificultad in ViewBag.ListaDificultades){
                    <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
                }
            </select>
        </label>
        <label>Categoría:
            <select name="categoria">
                <option value="-1">Todas las categorias</option>
                @foreach(Categoria categoria in ViewBag.ListaCategorias){
                    <option value="@categoria.IdCategoria">@categoria.Nombre</option>
                }
            </select>
        </label>
    </fieldset>
    <input type="submit">
</form>
