@{
    ViewData["Title"] = "Configurar Juego";
}

<form action='@Url.Action("Comenzar", "Home")' method="post" class="Config">
    <fieldset>
        <legend>Configurar Juego:</legend>
        <label>Username:
            <input type="text" name="username" placeholder="Nombre de Usuario" required>
        </label>
        <label>Dificultad:
            <select name="dificultad">
                <option value="-1">Todas las dificultades</option>
                @foreach(Dificultad dificultad in ViewBag.ListaDificultades){
                    <option value="@dificultad.IdDificultad" required>@dificultad.Nombre</option>
                }
            </select>
        </label>
        <label>Categoría:
            <select name="categoria">
                <option value="-1">Todas las categorias</option>
                @foreach(Categoria categoria in ViewBag.ListaCategorias){
                    <option value="@categoria.IdCategoria" required>@categoria.Nombre</option>
                }
            </select>
        </label>
    </fieldset>
    <button class="btn btn-outline-success" type="submit">JUGAR</button>
</form>
