@{
    ViewData["Title"] = "Configurar Juego";
}

<form action='@Url.Action("Comenzar", "Home")' method="post">
    <fieldset>
        <legend>Configurar Juego:</legend>
        <label>UserName:
            <input type="text" name="username">
        </label>
        <label>Dificultad:
            <select name="IdDificultad">
                <option value="-1">Todas las dificultades</option>
                @foreach(Dificultad dificultad in ViewBag.ListaDificultades){
                    <option value="@dificultad.IdDificultad" name="dificultad">@dificultad.Nombre</option>
                }
            </select>
        </label>
        <label>Categoría:
            <select name="IdCategoria">
                <option value="-1">Todas las categorias</option>
                @foreach(Categoria categoria in ViewBag.ListaCategorias){
                    <option value="@categoria.IdCategoria" name="categoria">@categoria.Nombre</option>
                }
            </select>
        </label>
    </fieldset>
    <input type="submit">
</form>
