@{
    ViewData["Title"] = "Juego";
}

<h5>@ViewBag.Usuario @ViewBag.PuntajeActual</h5>
<h1>@ViewBag.PreguntaElegida.Enunciado</h1>
<form Action='@Url.Action("VerificarRespuesta")' method="Post">
    @foreach(Respuesta respuesta in ViewBag.ListaRespuestas){
        <button type="sumbit" class="btn btn-primary" name="idRespuesta" value="@respuesta.IdRespuesta"> @respuesta.Contenido</button>
    }
</form>
