@{
    ViewData["Title"] = "Fin";
}
@if(ViewBag.Final == true){
    <h2 class="mensajeFinal">@ViewBag.MensajeFinal</h2>
    <p class="puntajeFinal">Tu puntaje final fue de:<br><span>@ViewBag.PuntajeFinal</span> Puntos</p>
}
<h1>TOP 10 PUNTAJES</h1>
<table>
    <tr>
        <th>Nombre de Usuario</th>
        <th>Puntaje</th>
        <th>Hora y Dia hecho</th>
    </tr>
    @foreach(Puntaje puntaje in ViewBag.TopPuntajes){
        <tr>
            <td>@puntaje.Username</td>
            <td>@puntaje.PuntajeFinal</td>
            <td>@puntaje.HoraHecho.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
</table>
